@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

.home {
    background-image: url(../images/2iiH.gif);
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    min-height: 100vh;
}

#mystery {
    color: rgb(0, 0, 0);
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0rem 0rem 1.5rem rgb(16, 225, 240);
    text-decoration: none;
    text-align: center;
}

.mystery {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 33.33%;
}

#bright {
    color: aqua;
    font-size: 2em;
}

.dark-mode {
    background-color: black;
    color: rgb(16, 225, 240);
}

.darkedit {
    border-style: none;
    align-content: flex-start;
    min-height: 100vh;
    width: 33.33%;
}

.registeredit {
    display: flex;
    border-style: none;
    flex-direction: row-reverse;
    width: 33.33%;
    height: 10%;
}

.buttnaked {
    border-style: none;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0rem 0rem 1.5rem rgb(16, 225, 240);
}

button:hover {
    color: rgb(16, 225, 240);
    text-shadow: 0rem 0rem 1.5rem rgb(0, 0, 0);
}

.bodyex {
    font-family: 'Elsie', cursive;
    box-sizing: border-box;
    background: none;
    border: none;
    color:white;
    padding: 0em;
    margin: 0em;
    text-align: center;
    font-size: clamp(1em, 3vh, 4vh);
    min-height: 100vh;
}

.lolimg {
    background-image: url(../images/99do.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#lolcontainer {
    display: flex;
    margin-top: 33.33vh;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    box-sizing: border-box;
    border-color: black;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
    text-shadow: 0em 0em 0.4em rgb(50, 187, 12);
    box-shadow: 0em 0em 0.4em rgb(50, 187, 12);
}

#lolmargin {
    margin-top: 3vh;
}

#audiomargin {
    margin-bottom: 3vh;
}

#fgfore {
    background-image: url(../images/Yg6L.gif), url(../images/DCk.gif), url(../images/tv-png-443390.png), url(../images/family-guy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left, right, center, top;
    background-size: 20vmin, 20vmin, 80%, cover;
}

.smallmarg {
    margin-bottom: 6vh;
    text-shadow:  0em 0em 0.15em rgb(5, 13, 129);
}

.scriptouter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 7.5vh 7.8vw 3.5vh 5.5vw;
    padding: 0em 0em 2em 2em;
    overflow-y: auto;
    max-height: 85vh;
    position: fixed;
}

.fgscript {
    margin: 6vh 4vw 6vh 4vw;
    padding: 0em 2em 2em 2em;
    color: black;
    font-weight: bold;
    background-color: rgba(170, 253, 253, 0.76);
}

.pokebody {
    background-image: url(../images/4m3s.gif), url(../images/pkmnbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, top;
    background-size: 40vmin, cover;
}

.gamebody {
    background-image: url(../images/DD0.gif), url(../images/74t1.gif), url(../images/pkmnbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right, left, top;
    background-size: 40vmin, 40vmin, cover;
}

.tvbody {
    background-image: url(../images/5SvD.gif), url(../images/4hsh.gif), url(../images/pkmnbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left, right, top;
    background-size: 40vmin, 40vmin, cover;
}

.moviebody {
    background-image: url(../images/BRyx.gif), url(../images/Q568.gif), url(../images/pkmnbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right, left, top;
    background-size: 40vmin, 40vmin, cover;
}

.custom-nav-links {
    font-family: 'Monofett', cursive;
    color: rgb(129, 5, 5);
    text-shadow: 0em 0em 0.25em rgba(255, 255, 255, 0.774);
    text-decoration: none;
    padding: 0.15em 0.45em 0.15em 0.45em;
}

.head {
    text-decoration: underline;
    margin: 1em 1em 0.5em 1em;
    color: rgb(255, 255, 255);
    text-shadow: 0em 0em 0.15em rgb(129, 5, 5);
}

#pokebox {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 6vw 2vh 6vw;
    padding: 0em 2em 2em 2em;
    box-sizing: border-box;
    border-radius: 3.5em;
    border-color: rgb(0, 0, 0);
    box-shadow: 0em 0.1em 0.4em rgb(255, 255, 255);
    background-color: rgba(56, 55, 55, 0.774);
    color:rgb(255, 255, 255);
}

.top {
    text-align: center;
    font-family: 'Monofett', cursive;
    font-size: 8vw;
    color: rgb(129, 5, 5);
    font-weight: 100;
    text-shadow: 0em 0em 0.25em rgba(255, 255, 255, 0.774);
}